            html {
              box-sizing: border-box;
            }

            *, *:before, *:after {
              box-sizing: inherit;
            }


            .grid {
                box-sizing: border:box;
                clear: both;
            }

            /* helps elements inside the row to stay inside the row */
            .grid:after {
              content: "";
              display: table;
              clear: both;
            }

            .container {
                width:90%;
                margin-left: auto;
                margin-right: auto;
            }

            [class*='grid-'] {
                float: left;
                width: 100%;
                padding: 1%;
                margin-bottom:20px;
                border: .5px solid #000000;
                background-color: #db6525;
            }

            /* 100 */
            .grid-100 {
                width: 100%;
            }

            /* 50 */
            .grid-50 {
                width: 50%;
            }

            /* 1/3 */
            .grid-1-3 {
                width: 33.333%;
            }

            /* 2/3 */
            .grid-2-3 {
                width: 66.666%;
            }

            /* 1/4 */
            .grid-1-4 {
                width: 25%;
            }

            /* 3/4 */
            .grid-3-4 {
                width: 75%;
            }



            /* utility classes */
            .left_align {
                text-align: left;
            }

            .right-align {
                text-align: right;
            }

            .center-align {
                text-align: center;
            }


            /* typographic classes */

            body {
                font-family: Arial, Helvetica, sans-serif;
                color: #000000;
                font-family: 'Qwigley', cursive;
            }

            h1, h2, h3, h4, h5, h5 {
                font-weight: 100;
            }

            .header {
                 font-family: 'Qwigley', cursive;
            }

